{% extends "@Contao/content_element/gallery.html.twig" %}

{% set imageHeight = '0' %}

{% block figure_component %}
  {% if data.use_flex_gallery_image %} 
    {% if figure.image.img.width %}
      {% if figure.image.img.height %}
        {% set figure_attributes = attrs()
          .set('data-w', figure.image.img.width) 
          .set('data-h', figure.image.img.height) 
        %}
        {% set figure_attributes = attrs(figure_attributes|default).addClass('item') %}
      {% endif %}
    {% endif %}
    {{ parent() }}
    {% set imageHeight = figure.image.img.height %}
    {{ app.session.set('imageHeight', imageHeight) }}
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if data.use_flex_gallery_image %} 
    <div class="flex-images fleximages_{{ data.id }}">
      {{ parent() }}
    </div>
  {% else %}
    {{ parent() }}  
  {% endif %}
{% endblock %}

{% block wrapper %}  
  {{ parent() }}
  {% set imageHeight = app.session.get('imageHeight') %}
  {% set assembledScript = '<script> new flexImages({ selector: ".fleximages_' ~ data.id ~ '", rowHeight: "' ~ imageHeight ~ '" }); </script>' %}
  {% if data.use_flex_gallery_image %} 
    {{ assembledScript|raw }}
  {% endif %}
{% endblock %}

{% block list %}
  {% if data.use_flex_gallery_image %} 
    {% for item in list.items %}
      {%- block list_item %}
        {{ parent() }}
      {% endblock -%}
    {% endfor %}
  {% else %}
    {{ parent() }}  
  {% endif %}
{% endblock %}
